
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/form.css">
    <link rel="stylesheet" href="./static/styles/header.css">
    <link rel="stylesheet" href="./static/styles/footer.css">

    <title>New Joiners Reports</title>
  </head>
  <body>
    <header>
      <div class="logo">
      </div>
    </header>
    <title>Reports</title>
    <div class="container">
      <h2>Please follow the next instructions to download your report</h2>
      <ol>
        <li><h4>Top joiner by tasks completed:</h4>
          <h4><a href="localhost:8030/report/topjoiners">https://reportschallenge.herokuapp.com/report/topjoiners</a></h4></li>
        <li><h4>Tasks by joiner:</h4>
          <h4><a href="localhost:8030/report/taskbyjoiner">https://reportschallenge.herokuapp.com/report/taskbyjoiner</a></h4></li>
        <li><h4>Tasks by an especific joiner:</h4>
          <h4><a href="localhost:8030/report/taskbyxjoiner/1128277285">https://reportschallenge.herokuapp.com/report/taskbyxjoiner/{joiner_id}</a></h4></li>
        <li><h4>Days left by joiner:</h4>
          <h4><a href="localhost:8030/report/daysleftbyjoiner">https://reportschallenge.herokuapp.com/report/daysleftbyjoiner</a></h4></li>
      </ol>

    </div>

    <footer>
      <p>
        Copyright Endava 2021. All rights reserved.
      </p>
    </footer>
  </body>
</html>