
    
.container {
    background-color:rgb(48, 46, 44);
    border-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left:15%;
    margin-right: 15%;
    margin-top: 5%;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 70px;
    border-radius: 2%;
    

}

li, h4, h5 {
    font-family:sans-serif;
    text-align:left;
    color: rgb(234, 229, 229);
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 20%;

}
